# Importing Packages

In [43]:
import numpy as np
import pandas as pd
import matplotlib as plt

# Importing Dataset

Had to limit the number of rows since I reeived an error when it was reading the file. Perhaps some rows aren't formatted properly

In [45]:
crimes = pd.read_csv("crimestat.csv", delimiter=',', nrows=100000)
crimes.head(10)

,INC_NUMBER,Date,OCCURRED_TO,UCR_CRIME_CATEGORY,100_BLOCK_ADDR,ZIP,PREMISE_TYPE
0,201600000052855,11/01/2015 00:00,01/09/2016 00:00,MOTOR VEHICLE THEFT,N 43RD AVE & W CACTUS RD,85029.0,SINGLE FAMILY HOUSE
1,201600000594484,11/01/2015 00:00,NaN,RAPE,13XX E ALMERIA RD,85006.0,SINGLE FAMILY HOUSE
2,201500002102327,11/01/2015 00:00,11/01/2015 09:00,LARCENY-THEFT,51XX N 15TH ST,85014.0,APARTMENT
3,201500002101405,11/01/2015 00:00,11/01/2015 05:00,MOTOR VEHICLE THEFT,102XX W MEDLOCK AVE,85307.0,SINGLE FAMILY HOUSE
4,201500002102668,11/01/2015 00:00,11/01/2015 11:50,MOTOR VEHICLE THEFT,69XX W WOOD ST,85043.0,SINGLE FAMILY HOUSE
5,201600000527709,11/01/2015 00:00,03/22/2016 00:36,LARCENY-THEFT,33XX W CAMELBACK RD,85017.0,PARKING LOT
6,201700001722914,11/01/2015 00:00,NaN,LARCENY-THEFT,279XX N 23RD LN,85085.0,SINGLE FAMILY HOUSE
7,201700001603695,11/01/2015 00:00,03/31/2016 00:00,RAPE,38XX W CAMELBACK RD,85019.0,HOSPITAL
8,201500002168686,11/01/2015 00:00,11/11/2015 09:30,LARCENY-THEFT,14XX E HIGHLAND AVE,85014.0,PARKING LOT
9,201500002103724,11/01/2015 00:00,11/01/2015 15:21,DRUG OFFENSE,54XX W INDIAN SCHOOL RD,85031.0,APARTMENT

# Grouping the data based on zip code and type of crime

This groups and sorts the data by showing the top crime type that is performed in each ZIP code as well as the frequency

In [46]:
crimeByZip = crimes.groupby('ZIP')
crimeByZip.UCR_CRIME_CATEGORY.describe()
# crimeByZip.head(10)
# crimeByZip.get_group('UCR_CRIME_CATEGORY')
# crimeByZip.UCR_CRIME_CATEGORY.value_counts()
# crimeByZip.to_csv('crimes_by_zip')
# crimes[crimes.ZIP==85281].UCR_CRIME_CATEGORY.value_counts().plot.bar()

        count unique                 top  freq
ZIP
85003.0  1105      9       LARCENY-THEFT   565
85004.0  1284      9       LARCENY-THEFT   785
85006.0  1993      9       LARCENY-THEFT   904
85007.0  1515      9       LARCENY-THEFT   574
85008.0  4749      9       LARCENY-THEFT  2355
...       ...    ...                 ...   ...
85381.0     1      1        DRUG OFFENSE     1
85382.0     2      2       LARCENY-THEFT     1
85383.0     1      1            BURGLARY     1
85392.0     7      2        DRUG OFFENSE     5
85395.0     2      2  AGGRAVATED ASSAULT     1

[93 rows x 4 columns]

# Group based on Location and crime type

Grouping by type of location as well as the type of crimes committed in that location

In [47]:
# plt.plot(crimes.OCCURRED_ON, crimes.OCCURRED_ON.value_counts())
crimes.PREMISE_TYPE.value_counts()
locationCrimes = crimes.groupby(by='PREMISE_TYPE')
locationCrimes.UCR_CRIME_CATEGORY.value_counts()

PREMISE_TYPE                   UCR_CRIME_CATEGORY
ABANDONED/CONDEMNED STRUCTURE  BURGLARY                1
ADULT ONLY STORE / MOVIE       LARCENY-THEFT          25
                               BURGLARY                7
                               ROBBERY                 5
                               DRUG OFFENSE            4
                                                      ..
WAREHOUSE / FACTORY            BURGLARY               93
                               DRUG OFFENSE           11
                               MOTOR VEHICLE THEFT    10
                               AGGRAVATED ASSAULT      5
                               ROBBERY                 1
Name: UCR_CRIME_CATEGORY, Length: 488, dtype: int64